@charset "UTF-8";

body
{ background-color: rgb(205, 255, 203);
  font-family: Arial, Helvetica, sans-serif;
}

h1
{color:  rgb(4, 109, 0);

}
h1#principal 
{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: azure;
}
h2
{
color: rgb(51, 77, 49);
}
.basico 
{
    color: rgb(51, 77, 49);
    font-weight:  normal;
}

.intermediario
{
    color: rgb(223, 218, 112);
}

.avançado
{
    color: rgb(230, 55, 55);
    }
    .destaque 
    {
        background-color: blueviolet;
    }